{% extends 'base.html' %}

{% block title %}
  Фильмы
{% endblock %}

{% block content %}
    {% for movie in movie_list %}
        <div class="col-md-4 product-men">
            <div class="product-shoe-info editContent text-center mt-lg-4">
                <div class="men-thumb-item">
                    <img src="{{ movie.poster.url }}" width="300px" height="300px">
                </div>
                <div class="item-info-product">
                    <h4 class="">
                        <a href="{% url 'movie_detail' movie.url %}" class="editContent">
                            {{ movie.title }}
                        </a>
                    </h4>

                    <div class="product_price">
                        <div class="grid-price">
                            <span class="money editContent">{{ movie.tagline }}</span>
                        </div>
                    </div>
                    <ul class="stars">
                        <li><a href="#"><span class="fa fa-star"
                                              aria-hidden="true"></span></a>
                        </li>
                        <li><a href="#"><span class="fa fa-star"
                                              aria-hidden="true"></span></a>
                        </li>
                        <li><a href="#"><span class="fa fa-star-half-o"
                                              aria-hidden="true"></span></a>
                        </li>
                        <li><a href="#"><span class="fa fa-star-half-o"
                                              aria-hidden="true"></span></a>
                        </li>
                        <li><a href="#"><span class="fa fa-star-o"
                                              aria-hidden="true"></span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    {% endfor %}
    {% if user.is_authenticated %}
        <a href="{% url 'movie_create' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span> Ещё</a>
    {% endif %}
{% endblock %}
